@charset "UTF-8";
.addbet {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end; }
  .addbet #form-wrapper, .addbet #form-panel, .addbet .postBet {
    width: 50%; }
    @media screen and (max-width: 768px) {
      .addbet #form-wrapper, .addbet #form-panel, .addbet .postBet {
        width: 100%; } }

#choose-panel {
  text-align: center; }
  #choose-panel svg {
    margin: 15px;
    font-size: 60px; }
    @media screen and (max-width: 768px) {
      #choose-panel svg {
        width: 40px; } }
    #choose-panel svg:hover {
      cursor: pointer; }
    #choose-panel svg:last-child {
      margin-right: 0px; }

.form-elem-title {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 5px;
  position: relative; }
  .form-elem-title svg {
    float: right; }
  .form-elem-title.analyse svg {
    float: none; }
  .form-elem-title.analyse:hover:after {
    content: "Jeśli dodajesz typ bez analizy, pozostaw to pole puste";
    font-size: 10px;
    color: White;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    position: absolute;
    bottom: -15;
    display: block;
    width: max-content; }

.green-background {
  background-color: #6ccbce; }

#form-wrapper {
  position: relative;
  padding: 10px;
  background-color: white;
  color: black; }
  #form-wrapper .form-elem-title {
    margin-bottom: 0; }
  #form-wrapper #event {
    cursor: pointer; }
    #form-wrapper #event .form-elem-title {
      border-bottom: 2px solid #46bdc1; }
  #form-wrapper .choosedMatch {
    margin: 5px 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center; }
  #form-wrapper .event-elements {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 9;
    height: 400px;
    overflow-y: scroll;
    border-bottom: 2px solid #46bdc1; }
    #form-wrapper .event-elements::-webkit-scrollbar {
      display: none; }
    #form-wrapper .event-elements .events .league-name {
      text-align: center;
      font-family: 'Nunito', sans-serif;
      font-size: 18px;
      font-weight: 400; }
    #form-wrapper .event-elements .events .event-name {
      padding: 0px 10px;
      font-family: 'Nunito', sans-serif;
      font-size: 16px;
      font-weight: 300; }
      #form-wrapper .event-elements .events .event-name:hover {
        cursor: pointer;
        background-color: #6ccbce; }
  #form-wrapper #type #type-chooser {
    text-align: center;
    display: flex; }
    #form-wrapper #type #type-chooser div {
      flex: 0.333;
      padding: 30px 0px; }
      #form-wrapper #type #type-chooser div:hover {
        cursor: pointer;
        background-color: #6ccbce; }
  #form-wrapper #course input {
    width: 40%;
    border: none;
    border: 1px solid #46bdc1;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding: 10px; }
    #form-wrapper #course input:focus {
      outline: none; }

.hide {
  display: none; }

#form-panel {
  padding: 10px;
  background-color: white;
  color: black !important; }
  #form-panel form {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400; }
    @media screen and (max-width: 720px) {
      #form-panel form {
        width: auto; } }
    #form-panel form textarea {
      resize: none;
      margin-top: 10px;
      border: none;
      font-family: 'Nunito', sans-serif;
      font-size: 15px;
      font-weight: 400;
      color: black;
      padding: 5px;
      width: -webkit-fill-available;
      height: 155px; }
      #form-panel form textarea:focus {
        outline: #46bdc1 !important; }
    #form-panel form > * {
      margin-bottom: 10px; }

.postBet {
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  font-weight: 400;
  width: 50%;
  border: none;
  padding-top: 6px;
  padding-bottom: 5.5px;
  background: linear-gradient(45deg, #46bdc1 0%, #367bf0 100%);
  opacity: 0.8; }
  .postBet:focus {
    outline: none; }
  .postBet:hover {
    opacity: 1; }

.margin-bottom {
  margin-bottom: 20px; }

.form-control {
  color: white; }

.basketball {
  color: #eebb2e; }

.soccer {
  color: black; }

.handball {
  color: #367bf0; }

.volleyball {
  color: #e3f12e; }

.basketball-background {
  background-color: #eebb2e; }

.soccer-background {
  background-color: black; }

.handball-background {
  background-color: #367bf0; }

.volleyball-background {
  background-color: #e3f12e; }

/*# sourceMappingURL=maps/addbet.css.map */
