body {
  color: white; }

a {
  text-decoration: none;
  color: white; }
  a:hover, a:visited, a:focus {
    text-decoration: none;
    color: white; }

.on-modal {
  overflow: hidden; }

#menu-left {
  font-family: 'Maven Pro', sans-serif;
  background-color: #2e3338;
  position: fixed;
  display: inline-block;
  height: 100%;
  width: 300px; }
  @media screen and (max-width: 720px) {
    #menu-left {
      background-color: #2e3338;
      z-index: 999;
      width: 100%;
      position: inherit;
      height: auto; } }
  #menu-left ul {
    padding: 0px !important; }
    #menu-left ul svg {
      margin-right: 15px; }
    @media screen and (max-width: 720px) {
      #menu-left ul {
        text-align: center; } }
    #menu-left ul li {
      list-style-type: none;
      font-size: 18px;
      padding: 3px 30px; }
      #menu-left ul li:nth-child(2) {
        padding: 0;
        padding-bottom: 5px; }
      #menu-left ul li:nth-child(3):hover, #menu-left ul li:nth-child(4):hover {
        background-color: #242a2f;
        cursor: pointer; }
      #menu-left ul li:nth-child(4) svg {
        margin-right: 13px; }
    #menu-left ul .menu {
      font-size: 13px !important;
      font-weight: bold;
      padding-bottom: 10px;
      color: #727272; }
    #menu-left ul .inside li {
      font-size: 18px;
      padding: 3px 40px; }
      #menu-left ul .inside li:hover {
        background-color: #242a2f;
        cursor: pointer; }
  #menu-left #user {
    padding: 15px;
    margin-bottom: 15px;
    width: 170px;
    padding-bottom: 10px;
    font-size: 18px; }
    @media screen and (max-width: 720px) {
      #menu-left #user {
        position: inherit;
        border-top: none;
        text-align: center; } }
    #menu-left #user span {
      margin-right: 15px; }
      #menu-left #user span i {
        font-size: 18px;
        margin-right: 15px;
        padding-right: 20px; }
      #menu-left #user span:hover {
        cursor: pointer; }
  #menu-left #logout {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 25px;
    letter-spacing: 1px;
    width: 100%;
    padding: 15px 0px;
    background-color: #242a2f;
    cursor: pointer; }
    @media screen and (max-width: 720px) {
      #menu-left #logout {
        position: initial; } }

#content-right {
  overflow: auto;
  padding-left: 300px;
  height: 100%; }
  @media screen and (max-width: 720px) {
    #content-right {
      padding-left: 0px;
      overflow: none; } }
  #content-right #main-content {
    padding: 20px; }

.currentPage {
  background-color: #242a2f; }

.fixed-margin {
  float: none;
  margin: 0 auto; }

#cupon-list {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  padding: 20px;
  padding-top: 80px;
  font-family: 'Maven Pro', sans-serif;
  color: white;
  background-color: #2e3338;
  position: fixed;
  width: 300px;
  height: 100%;
  right: -300px;
  top: 0; }
  #cupon-list #header {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 25px;
    letter-spacing: 1px;
    width: 100%;
    padding: 15px 0px;
    background-color: #242a2f;
    cursor: pointer; }
  #cupon-list .cupon-element {
    margin-bottom: 5px;
    font-size: 15px; }
    #cupon-list .cupon-element i {
      padding-right: 5px;
      color: red;
      cursor: pointer; }
  #cupon-list #savePanel {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    color: white;
    bottom: 0;
    padding: 10px;
    font-size: 30px; }
    #cupon-list #savePanel div {
      cursor: pointer;
      display: inline-block; }
      #cupon-list #savePanel div:hover {
        color: #242a2f; }
  #cupon-list #hide-button {
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    left: -25px;
    width: 50px;
    height: 50px;
    background-color: #2e3338;
    font-size: 25px; }
    #cupon-list #hide-button #hbx {
      font-size: 25px;
      padding: 14px 10px 14px 15px; }
    #cupon-list #hide-button:hover {
      cursor: pointer; }
  #cupon-list .cupon-warning {
    text-align: center;
    display: none;
    color: #f9ec25; }

@keyframes slideLeft {
  from {
    right: -300px; }
  to {
    right: 0px; } }

@keyframes slideRight {
  from {
    right: 0px; }
  to {
    right: -300px; } }

@keyframes shake {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(40deg); }
  50% {
    transform: rotate(-40deg); }
  75% {
    transform: rotate(20deg); }
  100% {
    transform: rotate(-20deg); } }

.shake-animation {
  animation-name: shake;
  animation-duration: 0.2s; }

.warning {
  text-align: center;
  color: #ffb414;
  font-weight: bold; }

.warning-center {
  position: relative; }

@media screen and (max-width: 720px) {
  .ph-show {
    display: block !important; } }

@media screen and (min-width: 720px) {
  .ph-show {
    display: none !important; } }

@media screen and (max-width: 720px) {
  .ph-hide {
    display: none !important; } }

@media screen and (min-width: 720px) {
  .ph-hide {
    display: flex !important; } }

/*# sourceMappingURL=maps/main.css.map */
