body {
  color: white; }

a {
  text-decoration: none;
  color: white; }
  a:hover, a:visited, a:focus {
    text-decoration: none;
    color: white; }

.on-modal {
  overflow: hidden; }

#header-main {
  position: fixed;
  z-index: 99999;
  width: 100%;
  background-color: white;
  border-bottom: solid 1px #dedede;
  color: black;
  height: max-content;
  display: flex;
  justify-content: space-between; }
  #header-main img {
    height: 20px;
    margin: 10px; }
    @media screen and (max-width: 768px) {
      #header-main img {
        display: none; } }
  #header-main ul {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    list-style-type: none;
    display: flex;
    float: right;
    text-align: center; }
    @media screen and (max-width: 768px) {
      #header-main ul {
        padding: 0; } }
    #header-main ul.text-icons svg {
      display: none; }
    #header-main ul.text-icons li {
      border: none; }
      @media screen and (max-width: 768px) {
        #header-main ul.text-icons li {
          font-size: 0;
          border-right: solid 1px #dedede;
          border-left: solid 1px #dedede;
          padding: 10px 15px; }
          #header-main ul.text-icons li svg {
            display: initial;
            font-size: 20px; } }
    #header-main ul li {
      border-right: solid 1px #dedede;
      border-left: solid 1px #dedede;
      padding: 10px 15px; }
      #header-main ul li:hover {
        color: #aee219;
        cursor: pointer; }
      #header-main ul li i {
        margin: 0px 10px; }

#main-content {
  padding-top: 80px; }

.currentPage {
  border-bottom: solid 1px #aee219 !important; }

.fixed-margin {
  float: none;
  margin: 0 auto; }

#cupon-list {
  border-left: solid 1px #dedede;
  border-bottom: solid 1px #dedede;
  color: black;
  background-color: white;
  position: fixed;
  width: 300px;
  height: 100%;
  top: -100%;
  z-index: 9999;
  padding-top: 60px;
  right: 0;
  overflow: hidden;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; }
  #cupon-list .cupon-element {
    margin-bottom: 5px;
    font-size: 15px;
    padding-left: 15px; }
    #cupon-list .cupon-element svg {
      padding-right: 5px;
      font-size: 15px;
      color: red;
      cursor: pointer; }
  #cupon-list #savePanel {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    color: #aee219;
    bottom: 0;
    padding: 10px;
    font-size: 30px; }
    #cupon-list #savePanel div {
      cursor: pointer;
      display: inline-block; }
      #cupon-list #savePanel div:hover {
        color: #242a2f; }
  #cupon-list .cupon-warning {
    text-align: center;
    display: none;
    color: #f9ec25; }

@keyframes slideLeft {
  from {
    top: -100%; }
  to {
    top: 0%; } }

@keyframes slideRight {
  from {
    top: 0%; }
  to {
    top: -100%; } }

.warning {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #ffb414;
  padding: 10px; }

.warning-center {
  position: relative; }

@media screen and (max-width: 720px) {
  .ph-show {
    display: block !important; } }

@media screen and (min-width: 720px) {
  .ph-show {
    display: none !important; } }

@media screen and (max-width: 720px) {
  .ph-hide {
    display: none !important; } }

@media screen and (min-width: 720px) {
  .ph-hide {
    display: flex !important; } }

/*# sourceMappingURL=maps/main.css.map */
