.rank {
  width: 60%;
  margin: 0 auto;
}
.rank th, .rank tr {
  text-align: center !important;
}

.progress {
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.progress-bar-success {
  background-color: #77F60F;
}

.green {
  color: #77F60F;
}
