<div class ="col-md-8 col-md-offset-2 col-xs-12 desc-bet" ng-repeat="bet in bets" >
		<div class="{{bet.category}}-background" id="ico">
			<i class="{{setCorrectIcon(bet.category)}}"></i>
		</div>
		<div  id="desc">
			<div id="title">{{bet.nazwa}}<div id="subtitle"><strong>Typ: </strong>{{convertType(bet.typ)}} <strong>Kurs:</strong> {{bet.kurs}}</div></div>
			
			<div id="analyse">{{bet.analiza}}</div>
			<div class="addButton" ng-click="addItem(bet.nazwa)"><i class="fas fa-plus"></i></div>
		</div>
		<div  id="user">
			<div id="info">
				<i class="far fa-user"></i>
				{{bet.user.name}}
			</div>
		</div>
	</div>


<div class="warning">{{errorMessage}}</div>
