<html>
<head>
  <title>Test</title>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900&amp;subset=latin-ext,vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://use.fontawesome.com/22ab09c0fb.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <script src="./scripts/module.js"></script>
    <script src="./scripts/route.js"></script>
    <script src="./scripts/auth.js"></script>
    <script src="./scripts/cuponFactory.js"></script>
    <script src="./scripts/controllers/mainCtrl.js"></script>

    <script src="./scripts/controllers/landingCtrl.js"></script>

    <script src="./scripts/controllers/descBetsCtrl.js"></script>
    <script src="./scripts/controllers/lightBetsCtrl.js"></script>
    <script src="./scripts/controllers/addBetCtrl.js"></script>
    <script src="./scripts/controllers/rankingCtrl.js"></script>

    <link href="/styles/css/main.css" rel="stylesheet">
    <link href="/styles/css/login.css" rel="stylesheet">
    <link href="/styles/css/addbet.css" rel="stylesheet">
    <link href="/styles/css/bets.css" rel="stylesheet">
    <link href="/styles/css/ranking.css" rel="stylesheet">
</head>

<body ng-app="betApp">
  	<div ui-view>
	</div>  	
</body>

</html>