<div class="rank">
<div id="form-panel">
	<form>
		<input placeholder="wyszukaj" class="form-control" ng-model="userSearch"></input>
	</form>
</div>
	<table class="table">
		<thead>
			<tr>
				<th>użytkownik</th>
				<th>liczba typów</th>
				<th>typy trafione</th>
				<th>procent</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="stat in stats | orderBy:'-rank/betCount' | filter: userSearch  track by $index" ng-if="stat.betCount > 0" ng-class='{green : stat.user.name==currentUser}'>
				<td>{{stat.user.name}}</td>
				<td>{{stat.betCount}}</td>
				<td>{{stat.rank}}</td>
				<td>
					<div class="progress">
						<div class="progress-bar progress-bar-success" role="progressbar" style="width:{{getPercentage(stat)[0]}}%">
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
