@import 'variables.scss';
@import 'mixins.scss';


.addbet{
	display:flex;
	flex-flow:row wrap;
	justify-content:flex-end;
	#form-wrapper,#form-panel,.postBet{
		width:50%;
		@media screen and (max-width: 768px) {
			width:100%;
		}
	}
}
#choose-panel{
	text-align:center;
	svg{
		margin:15px;
		font-size:60px;
		@media screen and (max-width: 768px) {
			width:40px;
		}
		&:hover{
			cursor:pointer;
		}
		
		&:last-child{
			margin-right:0px;
		}
	}
}
.form-elem-title{
	@include custom-font(20px,400);
	padding:10px;
	margin-bottom:5px;
	position:relative;
	svg{
		float:right;
	}
	&.analyse{
		svg{
			float:none;
		}	
		&:hover{
			&:after{
				@include message("Jeśli dodajesz typ bez analizy, pozostaw to pole puste")
			}
		}
	}
}
.green-background{
	background-color:lighten($green-color,10%);
}
#form-wrapper{
	position:relative;
	padding:10px;
	background-color:white;
	color:black;
	.form-elem-title{
		margin-bottom:0;
	}
	#event{
		cursor:pointer;
		.form-elem-title{
			border-bottom:2px solid $green-color;
		}
	}
	.choosedMatch{
		margin:5px 0px;
		@include custom-font(16px, 400);text-align:center;
	}
	.event-elements{
		background-color:rgba(255,255,255,0.8);
		position: absolute;
		left:0;
		width: 100%;
		z-index: 9;
		height: 400px;
		overflow-y: scroll;
		border-bottom:2px solid $green-color;
		&::-webkit-scrollbar { 
			display: none; 
		}
		.events{
			.league-name{
				text-align:center;
				@include custom-font(18px, 400);
			}
			.event-name{
				padding:0px 10px;
				@include custom-font(16px, 300);
				&:hover{
					cursor:pointer;
					background-color:lighten($green-color,10%)
				}
			}
		}
	}
	#type{
		#type-chooser{
			text-align:center;
			display:flex;
			& div{
				flex:0.333;
				padding:30px 0px;

				&:hover{
					cursor:pointer;
					background-color:lighten($green-color,10%)
				}
			}
		}
	}
	#course{
		input{
			width:40%;
			border:none;
			border: 1px solid $green-color;
			@include custom-font(15px,400);text-align:center;
			padding:10px;
			&:focus{
				outline:none;
			}
		}
	}
}
.hide{
	display:none;
}
#form-panel{
	padding:10px;
	background-color:white;
	color:black !important;
	form{
		@include custom-font(20px,400);
		@media screen and (max-width: 720px) {
			width:auto;
		}
		textarea{
			resize: none;
			margin-top:10px;
			border: none;
			@include custom-font(15px,400);
			color:black;
			padding:5px;
			width: -webkit-fill-available;
			height:155px;
			&:focus{
				outline:$green-color !important;
			}
		}
		&>*{
			margin-bottom:10px
		}
	}
}
.postBet{
	@include custom-font(30px,400);
	width:50%;
	border:none;
	padding-top:6px;padding-bottom:5.5px;
	background: linear-gradient(45deg, rgba(70,189,193,1) 0%, rgba(54,123,240,1) 100%);
	opacity:0.8;
	&:focus{
		outline:none;
	}&:hover{
		opacity:1;
	}
}
.margin-bottom{
	margin-bottom:20px;
}

//override
.form-control{
	color:white;
}


.basketball{
	color:$second-color;
}
.soccer{
	color:black;
}
.handball{
	color:$blue-color;
}
.volleyball{
	color:#e3f12e;
}
.basketball-background{
	background-color:$second-color;
}
.soccer-background{
	background-color:black;
}
.handball-background{
	background-color:$blue-color;
}
.volleyball-background{
	background-color:#e3f12e;
}