@import 'variables.scss';
@import 'mixins.scss';


#choose-panel{
	text-align:center;
	img{
		margin-right:20px;
		width:50px;
	&:hover{
		cursor:pointer;
	}
	&:last-child{
		margin-right:0px;
	}
	}
}
#form-panel{
	color:black !important;
	form{
		margin:0 auto;
		width:600px;
		@media screen and (max-width: 720px) {
			width:auto;
		}
		select, input,textarea,button{
			width:100%;	
			border-radius:0;
			border:none;
			background-color:$foreground-second-color;
			option{
				background-color:lighten($foreground-second-color,30%);
			}
			*:not(button):focus{
				box-shadow: 0px -1px 5px 2px rgba(239,109,0,1);
			}
		}
		textarea{
			color:white;
			padding:5px;
		}
		button{
			&:hover{
				background-color:$foreground-second-color;
			}
		}
		textarea{
			height:100px
		}
		&>*{
			margin-bottom:10px
		}
	}
}

.margin-bottom{
	margin-bottom:20px;
}

//override
.form-control{
	color:white;
}
.basketball{
	@include sport-icon(#c37e00,50%);
}
.soccer{@include sport-icon(white,50%);
}
.handball{@include sport-icon(#3277FF,50%);
}
.volleyball{@include sport-icon(#e3f12e,50%);
}
.basketball-background{
	@include sport-icon(#c37e00,0%);
}
.soccer-background{@include sport-icon(white,0%);
}
.handball-background{@include sport-icon(#3277FF,0%);
}
.volleyball-background{@include sport-icon(#e3f12e,0%);
}
.checkboxed{
	text-align:center;
	input,label{
		width:auto !important;
		margin:5px
	}
}