@import 'variables.scss';
@import 'mixins.scss';


#choose-panel{
	text-align:center;
	img{
		margin:15px;
		width:60px;
		@media screen and (max-width: 768px) {
			width:40px;
		}
		&:hover{
			cursor:pointer;
		}
		
		&:last-child{
			margin-right:0px;
		}
	}
}
.form-elem-title{
	@include custom-font(20px,400);
	padding:10px;
	margin-bottom:5px;
	position:relative;
	svg{
		float:right;
	}
	&.analyse{
		svg{
			float:none;
		}	
		&:hover{
			&:after{
				@include message("Jeśli dodajesz typ bez analizy, pozostaw to pole puste")
			}
		}
	}
}
.green-background{
	background-color:lighten($green-color,10%);
}
#form-wrapper{
	color:black;
	#event{
		cursor:pointer;
	}
	.choosedMatch{
		@include custom-font(16px, 400);text-align:center;
	}
	.event-elements{
		position: absolute;
		width: 100%;
		background-color: white;
		z-index: 9;
		height: 400px;
		overflow-y: scroll;
		&::-webkit-scrollbar { 
			display: none; 
		}
		.events{
			width:90%;
			.league-name{
				text-align:center;
				@include custom-font(18px, 400);
			}
			.event-name{
				@include custom-font(18px, 300);
				&:hover{
					cursor:pointer;
					background-color:lighten($green-color,10%)
				}
			}
		}
	}
	#type{
		#type-chooser{
			text-align:center;
			display:flex;
			& div{
				flex:0.333;
				padding:30px 0px;

				&:hover{
					cursor:pointer;
					background-color:lighten($green-color,10%)
				}
			}
		}
	}
	#course{
		input{
			width:40%;
			border:none;
			border-bottom: 1px solid $green-color;
			@include custom-font(15px,400);text-align:center;
			padding:10px;
			&:focus{
				outline:none;
			}
		}
	}
}
.hide{
	display:none;
}
#form-panel{
	color:black !important;
	form{
		@include custom-font(20px,400);
		@media screen and (max-width: 720px) {
			width:auto;
		}
		textarea{
			margin-top:10px;
			border: none;
			@include custom-font(15px,400);
			width:100%;	
			color:black;
			padding:5px;
			height:100px;
			&:focus{
				outline:$green-color !important;
			}
		}
		&>*{
			margin-bottom:10px
		}
	}
}
.postBet{
	@include custom-font(30px,400);
	border:none;
	background-color:white;
	color:$green-color;
	margin-top:20px;
	&:focus{
		outline:none;
	}
}
.margin-bottom{
	margin-bottom:20px;
}

//override
.form-control{
	color:white;
}
.basketball{
	@include sport-icon(#c37e00,50%);

}
.soccer{@include sport-icon(#f3f9fd,50%);
}
.handball{@include sport-icon(#3277FF,50%);
}
.volleyball{@include sport-icon(#e3f12e,50%);
}
.basketball-background{
	@include sport-icon(#c37e00,0%);
}
.soccer-background{@include sport-icon(#f3f9fd,0%);
}
.handball-background{@include sport-icon(#3277FF,0%);
}
.volleyball-background{@include sport-icon(#e3f12e,0%);
}
.checkboxed{
	text-align:center;
	input,label{
		width:auto !important;
		margin:5px
	}
}