@import 'variables.scss';
@import 'mixins.scss';



body{
	color:white;
}
a{
	text-decoration:none;
	color:white;
	&:hover, &:visited, &:focus{
		text-decoration:none;
		color:white;
	}
}
.on-modal{
	overflow:hidden;
}
#menu-left{
	font-family: 'Maven Pro', sans-serif;
	background-color:$foreground-color;
	@media screen and (max-width: 720px) {
	    background-color:$foreground-color;
	    z-index:999;
	    width:100%;
	    position:inherit;
	    height:auto;
  	}
	position:fixed;
	display:inline-block;
	height:100%;
	width:300px;
	ul{
		svg{
			margin-right:15px;
		}
		padding:0px !important;
		@media screen and (max-width: 720px) {
	    	text-align:center;
		  }
		li{
		list-style-type:none;
		font-size:18px;
		padding: 3px 30px;
		&:nth-child(2){
			padding:0;
			padding-bottom:5px;
		}
		&:nth-child(3):hover,&:nth-child(4):hover{
			background-color:$foreground-second-color;
			cursor:pointer;
		}
		&:nth-child(4){
			svg{
				margin-right:13px;
			}
		}
		}
		.menu{
			font-size:13px !important;
			font-weight:bold;
			padding-bottom:10px;
			color:#727272
		}
		.inside{
			li{
				font-size:18px;
				padding:3px 40px;
				&:hover{
					background-color:$foreground-second-color;
					cursor:pointer;
				}
			}
		}

	}
	#user{
		padding:15px;
		margin-bottom:15px;
		@media screen and (max-width: 720px) {
	    	position:inherit;
	    	border-top:none;
	    	text-align:center;
  		}
		width:170px;
		padding-bottom:$elements-padding;
		font-size:18px;
		span{
			margin-right:15px;
			i{
				font-size:18px;
				margin-right:15px;
				padding-right:$head-padding;
			}
			&:hover{
			cursor:pointer;
			}
		}
		
	}
	#logout{
		@media screen and (max-width: 720px) {
	    	position:initial;
		}
		&:hover{
			background-color:lighten($foreground-second-color,5%)
		}
		position:absolute;
		bottom:0;
		left:0;
		text-align:center;
		font-size:25px;
		letter-spacing:1px;
		width:100%;
		padding:15px 0px;
		background-color:$foreground-second-color;
		cursor:pointer;
	}
}
#content-right{
	@media screen and (max-width: 720px) {
	    padding-left:0px;
	    overflow:none;
  	}
	overflow:auto;
	padding-left:300px;
	height:100%;
	#main-content{
		padding:20px;
	}
}
.currentPage{
	background-color:$foreground-second-color;
}
.fixed-margin{
	float:none;
	margin:0 auto;
}
#cupon-list{
	animation-duration:0.5s;
	animation-fill-mode:forwards;
	padding:20px;
	padding-top: 80px;
	font-family: 'Maven Pro', sans-serif;
	#header{
		position:absolute;
		top:0;
		right:0;
		text-align:center;
		font-size:25px;
		letter-spacing:1px;
		width:100%;
		padding:15px 0px;
		background-color:$foreground-second-color;
		cursor:pointer;
	}
	.cupon-element{
		margin-bottom:5px;
		font-size:15px;
		i{
			padding-right:5px;
			color:red;
			cursor:pointer;
		}
	}
	#savePanel{
		transform: translateX(-50%);
		left: 50%;
		position: absolute;
		color:white;
		bottom:0;
		padding:10px;
		font-size:30px;
		div{
			cursor:pointer;
			display:inline-block;
			&:hover{
				color:$foreground-second-color;
			}
		}

	}
	color:white;
	background-color:$foreground-color;
    position: fixed;
    width: 300px;
    height: 100%;
    right: -300px;
    top: 0;
    #hide-button{
    	position:absolute;
    	top:50%;
    	transform:translateX(-50%);
    	left:-25px;
    	width:50px;
    	height:50px;
		background-color:$foreground-color;
		font-size:25px;
    	#hbx{
			font-size:25px;
			padding:14px 10px 14px 15px;
		}
    	&:hover{
    		cursor:pointer;
    	}
    }
    .cupon-warning{
    	text-align:center;
    	display:none;
    	color:#f9ec25;
    }
}
@keyframes slideLeft{
	from{right:-300px;}
	to{right:0px;}
}
@keyframes slideRight{
	from{right:0px;}
	to{right:-300px;}
}
@keyframes shake {
	0%{
		transform:rotate(0deg);
	}
	25%{
		transform:rotate(40deg);
	}
	50%{
		transform:rotate(-40deg)
	}
	75%{
		transform:rotate(20deg)
	}
100%{
		transform:rotate(-20deg)
	}
}
.shake-animation{
	animation-name:shake;
    animation-duration:0.2s;
}
.warning{
	font-size:18px;
	text-align:center;
	color:#ffb414;
	font-weight:bold;
}
.warning-center{
	position:relative;
	
}
.ph-show{
	@media screen and (max-width: 720px) {
		display:block !important;
	}
	@media screen and (min-width: 720px) {
		display:none !important;
	}
}
.ph-hide{
	@media screen and (max-width: 720px) {
		display:none !important;
	}
	@media screen and (min-width: 720px) {
		display:flex !important;
	}
}