@import 'variables.scss';
@import 'mixins.scss';
body{
	color:white;

	background-size:cover;
	font-family: 'Nunito', sans-serif;
}
.main-background{
	$contrast:0.5;
	background: linear-gradient(rgba(0,0,0,$contrast),rgba(0,0,0,$contrast)), url("../../images/main-bg.jpg")no-repeat;
}
a{
	text-decoration:none;
	color:white;
	&:hover, &:visited, &:focus{
		text-decoration:none;
		color:white;
	}
}
.on-modal{
	overflow:hidden;
}
#header-main{
	position:fixed;
	z-index:99999;
	width:100%;
	background-color:white;
	@include custom-border(1px,#dedede,"bottom");
	color:black;
	height:max-content;
	display:flex;
	justify-content:space-between;
	
	img{
		height:20px;
		margin:10px;
		@media screen and (max-width: 768px) {
			display:none;
		}
	}
	ul{
		@media screen and (max-width: 768px) {
			padding:0;
		}
		margin:0;
		@include custom-font(16px,600);
		list-style-type: none;
		display:flex;
		float:right;
		text-align:center;
		&.text-icons{
			svg{
				display:none;
			}
			li{
				border:none;
				@media screen and (max-width: 768px) {
					font-size:0;
					@include custom-border(1px,#dedede,"sides");
					padding:10px 15px;
					svg{
						display:initial;
						font-size:20px;
					}
				}	
			}
		}
		li{
			@include custom-border(1px,#dedede,"sides");
			padding:10px 15px;
			&:hover{
				color:$green-color;
				cursor:pointer;
			}
			i{
				margin:0px 10px;
			}
		}
	}
}

#main-content{
	padding-top:80px;
}

.currentPage{
	color:$green-color;
}
.fixed-margin{
	float:none;
	margin:0 auto;
}
#cupon-list{
	
	border-left: solid 1px #dedede;
	border-bottom: solid 1px #dedede;
	color:black;
	background-color:white;
    position: fixed;
    width: 300px;
	height: 100%;
	top:-100%;
	z-index:9999;
	padding-top:60px;
	right:0;
	overflow:hidden;
	animation-duration:0.5s;
	animation-fill-mode:forwards;
	.cupon-element{
		margin-bottom:5px;
		font-size:15px;
		padding-left:15px;
		svg{
			padding-right:5px;
			font-size:15px;
			color:red;
			cursor:pointer;
		}
		span{
			float:right;
			padding-right:10px;
		}
	}
	#savePanel{
		transform: translateX(-50%);
		left: 50%;
		position: absolute;
		color:$green-color;
		bottom:0;
		padding:10px;
		font-size:30px;
		div{
			cursor:pointer;
			display:inline-block;
			&:hover{
				color:$foreground-second-color;
			}
		}
	}
    
}
.cupon-warning{
	position:absolute;
	right:0px;
	top:50;
	display:none;
	text-align:center;
	color:#f9ec25;
	background-color:rgba(0,0,0,0.5);
	padding:5px;
}
@keyframes slideLeft{

	from{top:-100%;}
	to{top:0%;}
}
@keyframes slideRight{
	from{top:0%;}
	to{top:-100%;}
}
.warning{
	@include custom-font(18px,600);
	text-align:center;
	color:$second-color;
	padding:10px;
}
.warning-center{
	position:relative;
	
}
.ph-show{
	@media screen and (max-width: 720px) {
		display:block !important;
	}
	@media screen and (min-width: 720px) {
		display:none !important;
	}
}
.ph-hide{
	@media screen and (max-width: 720px) {
		display:none !important;
	}
	@media screen and (min-width: 720px) {
		display:flex !important;
	}
}