@import 'variables.scss';
//domieszki
@mixin remove-padding(){
	padding:0;
}
@mixin custom-border($size,$color,$type){
	@if $type=="topbottom"{
	border-top:solid $size $color;
	border-bottom:solid $size $color;
	}
	@if $type=="top"{
	border-top:solid $size $color;
	}
	@if $type=="sides"{
	border-right:solid $size $color;
	border-left:solid $size $color;
	}
}

@mixin sport-icon($color,$radius){
	background-color:$color;
	border-radius:$radius;
}
