@import 'variables.scss';
@import 'mixins.scss';

.user-search{
	width:50%;
	margin:0 auto;
	input{
		width:100%;
		border:none;
		text-align:center;
		&:focus{
			outline:none;
		}
	}
}
#rank-wrapper{
	display: block;
	width:50%;
    @media screen and (max-width: 720px) {
		width:auto;
	}
    margin: 0 auto;
}
.rank{
	font-family: 'Maven Pro', sans-serif;
	width:100%;
	@media screen and (max-width: 720px) {
		width:auto;
	}
	margin:0 auto;
	text-align:center;
	color:black;
	background-color:lighten($foreground-color,20%);
	padding:10px 0px;
	$curr-prec:2;
	@for $i from $curr-prec through 4 {
		&:nth-child(#{$i}){
			background-color:lighten($second-color,$curr-prec);
			$curr-prec:$i*10;
		}
	}
}
//override
.progress{
	margin-bottom:0;
	background-color:rgba(0,0,0,0);
	border:none;
	box-shadow:none;
}
.progress-bar-success{
	background-color:#77F60F;
}
.progress-bar-danger{
	
}

.green{
	color:#77F60F;
}
.nobets{
	color:black;
    text-align: center;
	font-size: 18px;
	margin-bottom:10px;
	span{
		font-weight:bold;
	}
}