.rank{
	width:60%;
	margin:0 auto;

	th,tr{
		text-align:center !important;
	}
}

//override
.progress{
	margin-bottom:0;
	background-color:rgba(0,0,0,0.1);
}
.progress-bar-success{
	background-color:#77F60F;
}
.progress-bar-danger{
	
}
.green{
	color:#77F60F;
}