//zmienne

$transparent-black: rgba(0,0,0,0.5);
$transparent-white: rgba(255,255,255,0.8);
$head-padding: 20px;
$elements-padding:10px;
$foreground-color:#2e3338;
$foreground-second-color:#242a2f;
$second-color:#fbb800;


//random panel colors
$color1 :#00897B;
$color2 :#388E3C;
$color3 : #616161;
$color4 :#546E7A;
$color5 :#0288D1;
$color6 :#5E35B1;

$random-colors: $color1, $color2, $color3, $color4, $color5, $color6;